<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="si.uni_lj.fe.tnuv.dezurka">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dezurka_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dezurka_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dezurka">
        <activity
            android:name=".SettingsHelpActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsGeneralActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".TradesActivity"
            android:exported="false" />
        <activity
            android:name=".AvailableDatesActivity"
            android:exported="false" />
        <activity
            android:name=".MyDatesActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".SignInActivity" />
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>